<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container2">
        <form action="">
            {% csrf_token %}
            <label for="uname" >Username</label><br>
            <input type="text" name="uname" placeholder="user name"><br>

            <label for="pass1">password</label> <br>
            <input type="password" name="pass1" placeholder="password"><br>
            <div class="btn2">
                <button type="submit" name="login">Login</button>
            </div>

        </form> 
    </div>
</body>
</html>